@import 'reset';
@import '~@gravity-ui/uikit/styles/styles.css';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
  font: var(--font-m);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.yc-root {
  &_theme_light {
    background-color: #edeff0;
  }

  &_theme_dark {
    background-color: #2d2c33;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}
