.ShowMd {
  display: block;
  width: 100%;
  border: 1px solid var(--g-color-base-selection-hover);
  padding: 10px 20px 50px;
  margin: 5px;
  box-sizing: border-box;

  & h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 50px;
  }
  & pre {
    max-width: 100%;
    padding: 2px;
  }

  & code {
    max-width: 100%;
    padding: 5px;
  }
}
