.MdNavigation {
  padding: var(--indent);
  box-sizing: border-box;
  border-left: 1px solid var(--g-color-private-blue-200-solid);

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    margin-bottom: var(--indent);
  }
}
