@import '~@gravity-ui/uikit/styles/styles.css';

.g-root_theme_light,
.g-root_theme_light-hc {
  /*
  --g-color-base-brand: #8d8cff;
  --g-color-base-brand-hover: #7e7dff;
  --g-color-base-selection: #f1f1ff;
  --g-color-base-selection-hover: #e2e2ff;
  --g-color-line-brand: #8d8cff;
  --g-color-text-brand: #605efc;
  --g-color-text-link: #605efc;
  --g-color-text-link-hover: #5250bb;
  */
  & h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--g-color-private-blue-900-solid);
  }

  & pre {
    background-color: var(--g-color-private-blue-150);
  }

  & code {
    background-color: var(--g-color-private-blue-100-solid);
    color: var(--g-color-private-blue-950-solid);
  }

  & .hljs-punctuation {
    color: var(--g-color-private-white-250-solid);
  }
  & .hljs-string {
    color: var(--g-color-private-orange-550-solid);
  }
  & .hljs-attr {
    color: var(--g-color-private-blue-950-solid);
  }
  & .hljs-keyword {
    color: var(--g-color-private-blue-750-solid);
  }
  & .hljs-title {
    color: var(--g-color-private-orange-550-solid);
  }
  & .hljs-variable {
    color: var(--g-color-private-blue-750-solid);
  }
  & .hljs-name {
    color: var(--g-color-private-blue-550-solid);
  }
  & .hljs-tag {
    color: var(--g-color-private-blue-550-solid);
  }
}

.g-root_theme_dark,
.g-root_theme_dark-hc {
  /*
  --g-color-base-brand: #8d8cff;
  --g-color-base-brand-hover: #7e7dff;
  --g-color-base-selection: #f1f1ff;
  --g-color-base-selection-hover: #e2e2ff;
  --g-color-line-brand: #8d8cff;
  --g-color-text-brand: #605efc;
  --g-color-text-link: #605efc;
  --g-color-text-link-hover: #5250bb;
  */
  & h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--g-color-private-yellow-750-solid);
  }

  & pre {
    background-color: var(--g-color-private-blue-200-solid);
  }

  & code {
    background-color: var(--g-color-private-blue-50-solid);
    color: var(--g-color-private-blue-850-solid);
  }

  & .hljs-punctuation {
    color: var(--g-color-private-white-750-solid);
  }
  & .hljs-string {
    color: var(--g-color-private-yellow-750-solid);
  }
  & .hljs-attr {
    color: var(--g-color-private-blue-850-solid);
  }
  & .hljs-title {
    color: var(--g-color-private-yellow-750-solid);
  }
  & .hljs-variable {
    color: var(--g-color-private-yellow-750-solid);
  }
  & .hljs-keyword {
    color: var(--g-color-private-blue-450-solid);
  }
  & .hljs-name {
    color: var(--g-color-private-blue-650-solid);
  }
  & .hljs-tag {
    color: var(--g-color-private-blue-750-solid);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  min-width: 200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.yc-root {
  &_theme_light {
    background-color: #edeff0;
  }

  &_theme_dark {
    background-color: #2d2c33;
  }
}
